.top-block {
  width: 100%;
	min-height: 750px;
  color: #ffffff;
	background-image: url("../image/top.jpg");
}

.menu-block {
  position: relative;
  width: 90%;
  min-height: 100px;
  margin: 0 auto;
  text-align: right;
  vertical-align: middle;
  border-bottom: 1px solid #4f5168;
}

.menu-block img {
  float:left;
  width: 189px;
  height: 24px;
  padding-top: 38px;
}

a.top-menu {
  display: inline-block;
  padding-top: 45px;
  padding-right: 60px;
  text-transform: uppercase; 
  font: 700 13px 'Raleway', sans-serif;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
}

a.top-menu:hover {
  color: #c6cacc; 
}

.menu-block :last-child {
  padding-right: 0;
}


h1 {
  margin: 133px auto 40px;
  padding: 0;
  max-width: 880px;
  font: 700 65px 'Open Sans', sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  line-height: 110%;
}

p.top-text2 {
  margin: 0 auto 75px;
  padding: 0;
  max-width: 930px;
  font: normal 400 22px 'Raleway', sans-serif;
  text-align: center;
}

p.top-button-find {
  text-align: center;   
}

p.top-button-find button {
  display: inline-block;
  width:200px;
  height:46px;
  color: #ffffff;
  margin: 0 auto;
  font: 400 13px 'Raleway', sans-serif;
  text-transform: uppercase; 
  border: 0;
  border-radius: 3px;
  background: #e84545;
}

p.top-button-find button:hover{
  outline: 1px solid #ffffff; 
}

.features-block {
  margin: 0 auto;
  padding: 120px 0;
  width: 86.5%;
  text-align: center;
}

.features-1, .features-2, .features-3, .features-4, .features-5, .features-6 {
  display: inline-block; 
  width: 310px;
}

.features-1, .features-2, .features-3{
  padding-bottom: 75px;  
}
.features-img{
  margin: 0 auto;
  width: 62px;
  height: 60px;
  background: URL("../image/features.png") no-repeat left top;
}

.features-1 .features-img {
   background-position: 0 -3px;
}

.features-2 .features-img {
  width:73px;
  background-position: -63px -2px;
}

.features-3 .features-img {
  background-position: -136px 0px;
}

.features-4 .features-img {
  background-position: -3px -63px;
}

.features-5 .features-img {
  width:72px;
  background-position: -70px -67px;
}

.features-6 .features-img {
  width:85px;
  background-position: -147px -69px;
}   

h3.features-text1 {
  padding-top: 30px;
  font: 700 14px 'Raleway', sans-serif;
  text-transform: uppercase; 
  color: #2d3033;
}

p.features-text2 {
  padding:0 30px;
  font: 400 14px 'Raleway', sans-serif;
  color: #6c7279;
}

.work-squares {
  width: 100%;
  font-size: 0;
}

.work-1, .work-2, .work-3, .work-4, .work-5, .work-6, .work-7, .work-8 {
  display: inline-block; 
  width: 25%;
  height: 350px;
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  outline: 1px solid #ffffff;
}

.work-1 {
  background-image: URL('../image/work-1.jpg');
}

.work-2 {
  background-image: URL('../image/work-2.jpg');
}

.work-3 {
  background-image: URL('../image/work-3.jpg');
}

.work-4 {
  background-image: URL('../image/work-4.jpg');
}

.work-5 {
  background-image: URL('../image/work-5.jpg');
}

.work-6 {
  background-image:URL('../image/work-6.jpg');
}

.work-7 {
  background-image:URL('../image/work-7.jpg');
}
 
.work-8 {
  background-image:URL('../image/work-8.jpg');
}

.footer-block {
  width: 100%;
  min-height: 250px;
  background-color: #3a3e64;
  text-align: center;
<<<<<<< HEAD
}

.footer-location, .footer-share, .footer-about {
  display: inline-block; 
  width: 330px;
  padding-top: 70px;
  font: 700 14px 'Raleway', sans-serif;
  color: #ffffff;  
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
}

.footer-location{
  width: 150px;
  padding-left: 90px;
  padding-right: 90px; 
}

.footer-share {
  width: auto;
  padding-bottom: 55px;
  padding-left: 100px;
  padding-right: 100px;    
  text-align:center;  
}

.footer-share p{
  margin:0;
  padding: 0 6px;
  text-align: left;

}

a.social-buttons, a.social-buttons-team {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 14px;
  margin-right: 7px;
  background-image: URL("../image/social-buttons.png");
  background-repeat: no-repeat; 
}

a.social-buttons-team {
  margin-right: 5px;
  background-image: URL("../image/social-buttons-team.png");
}

a.facebook, a.facebook-team {
  background-position: 0 0;
}

a.facebook:hover, a.twitter:hover, a.instagram:hover {
  background-color: #c6cacc;
}

a.twitter{
  background-position: -47px 0;
}

a.twitter-team{
  background-position: -44px 0;
}

a.instagram{
  margin-right:0;
  background-position: -94px 0;
}

a.instagram-team{
  background-position: -88px 0;
}

a.instagram-team:hover, a.twitter-team:hover, a.facebook-team:hover {
  outline: 1px solid #3a3e64;

}

.footer-location, .footer-share, .footer-about {
  display: inline-block; 
  width: 150px;
  padding-top: 70px;
  font: 700 14px 'Raleway', sans-serif;
  color: #ffffff;  
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
}

.footer-share {
  width: 134px;
  padding-bottom: 55px;
  padding-left: 248px;
  padding-right: 159px;    
  background: URL("../image/footer-social.png") no-repeat 248px bottom;  

}


.footer-about {
  text-transform: none;
}

p.footer-text {
  font: 400 14px 'Raleway', sans-serif;
  color: #ffffff;  
  text-transform: none;
}

.color-white{
  color: #ffffff;
}

.copyright-block {
  padding-top: 29px;
  width: 100%;
  height: 95px;
  background-color: #313454; 
}

.copyright-block p {
  margin: 0;
  padding-top:5px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}

.color-white{
  color: #ffffff;
}

.color-white{
  color: #ffffff;
}


.social-network {
  width: 150px;
}