.team_block {
  width: 100%;
  min-height: 811px;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}

.team-photo-1, .team-photo-2, .team-photo-3, .team-photo-4 {
  display: inline-block; 
  width: 270px;
  padding-top: 370px;
  padding-right: 30px;
 }
 
.team-photo-1 {
  background: URL("../image/photo-1.jpg") no-repeat left 100px;
}

.team-photo-2 {
  background: URL("../image/photo-2.jpg") no-repeat left 100px;
}

.team-photo-3 {
  background: URL("../image/photo-3.jpg") no-repeat left 100px;
}

.team-photo-4 {
  background: URL("../image/photo-4.jpg") no-repeat left 100px;
   padding-right: 0;
}

p.team-description {
  margin: 0;
  padding: 25px 0;
  font: 400 14px 'Raleway', sans-serif;
  color: #6c7279;
  text-align: left;
}

p.team-profession {
  margin: 0;
  padding: 0; 
  color: #e84545;
  font: 400 13px 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: left; 
}

p.team-name {
  margin: 0;
  padding: 30px 0 10px 0; 
  color: #2d3033;
  font: 400 22px 'Raleway', sans-serif;
  text-align: left;
}

div.social-network-1, div.social-network-2, div.social-network-3, div.social-network-4 {
  width: 128px;
  height: 40px;
  padding-bottom: 20px;
  background: URL("../image/social-buttons.png") no-repeat left top;
}